* {
    box-sizing: border-box;
}

body {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment {
    background: #FFFFFF;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

label {
    display: block;
    color: #808080;
}

.mt1 {
    margin: 20px 0px;
}

.mt2 {
    margin-top: 10px;
}

.crd_btn {
    width: 125px;
}

.cnfrm {
    width: 250px;
}

div > input {
    height: 30px;
    width: 250px;
    border: none;
    background-color: #f5f5dc;
    border-radius: 10px;
    padding-left: 5px;
}

button {
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #808080;
    background-color: #808080;
    color: #FFFFFF;
}

button:hover {
    background-color: #FFFFFF;
    color: #808080;
    transition: 0.3s;
}
